.git
.github
.next
apps/*/.next
apps/*/coverage
coverage
node_modules
apps/*/node_modules
packages/*/node_modules
dist
build
.turbo
.vercel
.env
.env*
**/.env
**/.env*
!**/.env.example
*.tsbuildinfo
Dockerfile
README.md
